/*Cor padrão*/

$buttonBackgroundHero: #36343bdd;
$colorDefault: #fff;
$colorBlackDefault: #000;

/*Variação linear background event*/

$grayLightLinear1: #39363D;
$grayBlackLinear2: #181719;
$grayOpacitylinear3: #38353C;
$grayFullLinear4: #231e1e;